# Config generator: https://zed0.co.uk/clang-format-configurator/
#
# NOTE: Some settings are not fully supported by this tool:
# - AlignAfterOpenBracket causes an error when loading the config:
#     https://github.com/zed0/clang-format-configurator/issues/31
# - BraceWrapping is not saved to file:
#     https://github.com/zed0/clang-format-configurator/issues/17
---
AccessModifierOffset: '-4'
AlignAfterOpenBracket: DontAlign
AlignOperands: 'false'
AlignTrailingComments: 'true'
AlignAfterOpenBracket: AlwaysBreak
AllowAllArgumentsOnNextLine: 'true'
AllowAllConstructorInitializersOnNextLine: 'false'
AllowAllParametersOfDeclarationOnNextLine: 'true'
AllowShortBlocksOnASingleLine: 'false'
AllowShortEnumsOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: 'true'
BinPackArguments: 'false'
BinPackParameters: 'false'
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
BreakAfterJavaFieldAnnotations: 'true'
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Custom
BreakBeforeTernaryOperators: 'true'
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
BreakStringLiterals: 'true'
ColumnLimit: '120'
CompactNamespaces: 'true'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'false'
ConstructorInitializerIndentWidth: '4'
ContinuationIndentWidth: '8'
Cpp11BracedListStyle: 'false'
DerivePointerAlignment: 'false'
FixNamespaceComments: 'true'
IncludeBlocks: Regroup
# Include ordering:
# - Includes are first sorted by SortPriority
# - Adjacent includes with the same Priority are then grouped
# - The header file directly corresponding to a .cpp file gets Priority 0
IncludeCategories:
  # Precompiled headers ========================================================
  - Regex:           '^\"pch\.h\"'
    Priority:        -1
    SortPriority:    -20
    CaseSensitive:   true
  # Testing framework ==========================================================
  - Regex:           '^\"catch2\/.*\"'
    Priority:        -1
    SortPriority:    -10
    CaseSensitive:   true
  # Windows ====================================================================
  - Regex:           '^<windows\.h>'
    Priority:        1
    SortPriority:    10
    CaseSensitive:   true
  - Regex:           '^<winsock2\.h>'
    Priority:        1
    SortPriority:    11
    CaseSensitive:   true
  # Libraries ==================================================================
  ## SDL
  - Regex:           '^\"SDLWrapper\.h\"'
    Priority:        1
    SortPriority:    20
    CaseSensitive:   true
  - Regex:           '^<SDL.*>'
    Priority:        1
    SortPriority:    21
    CaseSensitive:   true
  ## GL
  - Regex:           '^<glm?\/.+>'
    Priority:        1
    SortPriority:    30
    CaseSensitive:   true
  ## Freetype
  - Regex:           '^<freetype\/.+>'
    Priority:        1
    SortPriority:    40
    CaseSensitive:   true
  - Regex:           '^<ft2build\.h>'
    Priority:        1
    SortPriority:    41
    CaseSensitive:   true
  - Regex:           '^FT_FREETYPE_H'
    Priority:        1
    SortPriority:    42
    CaseSensitive:   true
  ## RtMidi
  - Regex:           '^<RtMidi\.h>'
    Priority:        1
    SortPriority:    50
  ## json
  - Regex:           '^<nlohmann\/.+>'
    Priority:        1
    SortPriority:    60
  # C system headers ===========================================================
  - Regex:           '^<.+\.h>'
    Priority:        2
    SortPriority:    100
  # C++ standard library headers ===============================================
  - Regex:           '^<.+>'
    Priority:        3
    SortPriority:    110
  # Project files ==============================================================
  - Regex:           '^\".*\/.*\"'
    Priority:        4
    SortPriority:    120
  - Regex:           '^\".*\"'
    Priority:        4
    SortPriority:    121
IndentCaseLabels: 'false'
IndentWidth: '4'
KeepEmptyLinesAtTheStartOfBlocks: 'true'
Language: Cpp
MaxEmptyLinesToKeep: '1'
NamespaceIndentation: None
PointerAlignment: Left
SortIncludes: 'true'
SpaceAfterCStyleCast: 'true'
SpaceBeforeCpp11BracedList: 'true'
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: 'true'
SpaceInEmptyParentheses: 'false'
SpacesBeforeTrailingComments: '2'
TabWidth: '4'
UseTab: Never
...
