# Visual Studio settings
.vs

# System files
Thumbs.db

# Build results
Debug/
Release/

# Libraries
/Open-Rival/libs/
*.dll

# User preferences
*.user

# Game data files
IMAGES.DAT
SOUNDS.DAT
*.CMP
*.SCO
SORR.BLD

# Extracted data files
/audio-extractor/output
/image-extractor/images
/Open-Rival/res/sound
/Open-Rival/res/textures
/Open-Rival/res/video
/setup/res/sound
/setup/res/textures
/setup/res/video
/setup/setup/images
/texture-builder/images
/texture-builder/textures

# Release folder
/dist/res
/dist/setup
/dist/glew32.dll
/dist/SDL2.dll

# Other
/misc
